.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1004px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: content-box;
}

.subject {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: #798b56;
}
.subheading {
    font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 40px;
    line-height: 118%;
    color: #8bc441;
}
.text {
    font-size: 16px;
    line-height: 180%;
    color: #284854;
}
